In [21]:
import pandas as pd
import numpy as np
#可视化：matplotlib、seaborn、pyecharts
import matplotlib.pyplot as plt
import seaborn as sns
import os
#正确显示中文和负号
plt.rcParams['font.sans-serif']=['SimHei']
plt.rcParams['axes.unicode_minus']=False
#这里的pyecharts使用的是0.5.11版本
from pyecharts.charts import Bar, HeatMap
#导入时间处理模块
from dateutil.parser import parse
from datetime import datetime,timedelta
#pandas赋值老提升警告
import warnings
warnings.filterwarnings('ignore')
#使用tushare pro获取数据，需要到官网注册获取相应的token
import tushare as ts 
token='29c2bab9582049c09714905f6422e5b6b13a0234f7e55e5c0fc3d867'
pro=ts.pro_api(token)

def plot_bar(data,title,label=True,zoom=False):
    bar=Bar({})
    attr=list(data.index)
    v=list(data.values)
    bar.add_xaxis(attr)
    bar.add_yaxis("ss", v)
#     bar.add(title,attr,v,is_label_show=label,
#            is_splitline_show=False,
#            is_datazoom_show=zoom)
    return bar

In [22]:
index_list=pro.ths_index()
#查看数据前几行
index_list.head()

     ts_code   name  count exchange list_date type
0  864005.TI    区块链   23.0        A  20200102    N
1  864006.TI   固态电池    1.0        A  20200102    N
2  864007.TI    太阳能   17.0        A  20200102    N
3  864008.TI   激光雷达    2.0        A  20200102    N
4  864009.TI  CAR-T   12.0        A  20200102    N

In [24]:
A_index_list=index_list.query("exchange=='A'")
A_index_list=A_index_list.copy()
A_index_list['nums']=pd.to_numeric(A_index_list['count'])
#去掉缺失值
A_index_list.dropna(inplace=True)
A_index_list['nums'].describe()
#删除代码重复项，
#保留type为N板块的指数
final_index_list=(A_index_list
                  .drop_duplicates(subset=['ts_code'], keep='first')
                 .query("10<nums<52")
                 .query("type=='N'"))

#去掉样本股或成份股指数
final_index_list=final_index_list[-final_index_list.name.apply(lambda s:s.endswith('样本股')or s.endswith('成份股'))]
final_index_list.sort_values('nums')
display(final_index_list)
data=(final_index_list.sort_values('nums',ascending=False)
      .set_index('name')['nums'])
display(data)
title='同花顺概念和行业指数成分股个数'
bar = plot_bar(data,title,False,True)
bar.render()
os.system("render.html")

        ts_code        name  count exchange list_date type  nums
0     864005.TI         区块链   23.0        A  20200102    N  23.0
2     864007.TI         太阳能   17.0        A  20200102    N  17.0
4     864009.TI       CAR-T   12.0        A  20200102    N  12.0
5     864010.TI         NFT   17.0        A  20200102    N  17.0
8     864013.TI       WSB概念   14.0        A  20200102    N  14.0
...         ...         ...    ...      ...       ...  ...   ...
1693  886033.TI  共封装光学（CPO）   22.0        A  20230210    N  22.0
1694  886034.TI        数字水印   19.0        A  20230214    N  19.0
1695  886035.TI       毫米波雷达   47.0        A  20230222    N  47.0
1696  886036.TI       时空大数据   36.0        A  20230302    N  36.0
1697  886037.TI        6G概念   32.0        A  20230302    N  32.0

[183 rows x 7 columns]

name
换电概念            51.0
恒大概念            51.0
稀土永磁            50.0
Web3.0          50.0
工业大麻            49.0
                ...
中韩自贸区           11.0
超级碗             11.0
低辐射玻璃（Low-E）    11.0
PVDF概念          11.0
转基因             11.0
Name: nums, Length: 183, dtype: float64

sh: render.html: command not found

32512